:host {
    position: fixed;
    inset-block-start: 20%;
    inset-inline-start: 50%;
    inline-size: 20rem;
    margin-inline-start: -10rem;
    border-radius: 0.5rem;
    box-shadow:
        0 0 0.0625rem 0 rgba(27, 31, 38, 0.24),
        0 1.125rem 1.875rem 0 rgba(27, 31, 38, 0.5);

    &::before {
        content: '';
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        inset-block-end: 0;
        background: rgba(0, 0, 0, 0.3);
    }

    .content {
        position: relative;
        padding: 0.0625rem 1.25rem;
        border-radius: 0.5rem;
        background: #fff;
    }
}
