:host {
    position: fixed;
    top: 20%;
    left: 50%;
    inline-size: 20rem;
    margin-left: -10rem;
    border-radius: 0.5rem;
    box-shadow:
        0 0 0.0625rem 0 rgb(27 31 38 / 24%),
        0 1.125rem 1.875rem 0 rgb(27 31 38 / 50%);

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(0 0 0 / 30%);
    }

    .content {
        position: relative;
        padding: 0.0625rem 1.25rem;
        border-radius: 0.5rem;
        background: white;
    }
}
