<input
    #input
    placeholder="Select value"
    readonly
    class="input"
    [value]="value"
    (click)="onClick()"
    (keydown.arrowDown.prevent)="onInputArrowDown()"
/>
<div
    *ngIf="open"
    class="dropdown"
    (mouseleave)="input.focus()"
>
    <div
        *ngFor="let item of items; let index = index"
        #option
        tabindex="-1"
        class="option"
        (click)="onSelect(item)"
        (keydown.arrowDown.zoneless.prevent)="onArrowDown(index, items.length)"
        (keydown.arrowUp.zoneless.prevent)="onArrowUp(index)"
        (mousemove.zoneless)="onMouseMove(option)"
    >
        {{ item }}
    </div>
</div>
