:host {
    position: relative;
    display: block;
    flex: 1;

    &::after {
        content: '';
        position: absolute;
        top: 1.3125rem;
        right: 1.25rem;
        inline-size: 0.5rem;
        block-size: 0.5rem;
        transform: rotate(135deg);
        border-top: 2px solid gray;
        border-right: 2px solid gray;
        pointer-events: none;
        transition: transform 0.3s;
    }

    &._open::after {
        transform: rotate(-45deg) translate3d(0, 4px, 0);
    }
}

.input {
    inline-size: 100%;
    background: #ecf1f7;
    border: 1px solid transparent;
    border-radius: 4px;
    block-size: 3.5rem;
    padding: 0 16px;
    outline: none;
    box-sizing: border-box;
    cursor: default;

    :host._focused & {
        background: white;
        border: 1px solid rgb(97 104 113);
    }
}

.dropdown {
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #e7e8ea;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem -0.25rem rgb(51 51 51 / 20%);
}

.option {
    display: flex;
    block-size: 3.5rem;
    padding: 0 16px;
    cursor: pointer;
    outline: none;
    align-items: center;

    &:focus {
        background: #f5f5f6;
    }
}
