<input
    #input
    readonly
    placeholder="Select value"
    class="input"
    [value]="value"
    (click)="onClick()"
    (keydown.arrowDown.prevent)="onInputArrowDown()"
/>
<div
    *ngIf="open"
    class="dropdown"
    (mouseleave)="input.focus()"
>
    <div
        *ngFor="let item of items; let index = index"
        #option
        tabindex="-1"
        class="option"
        (mousemove.silent)="onMouseMove(option)"
        (keydown.arrowDown.silent.prevent)="onArrowDown(index, items.length)"
        (keydown.arrowUp.silent.prevent)="onArrowUp(index)"
        (click)="onSelect(item)"
    >
        {{ item }}
    </div>
</div>
