<input
    #input
    placeholder="Select value"
    readonly
    class="input"
    [value]="state()"
    (click)="onClick()"
    (keydown.arrowDown.prevent)="onInputArrowDown()"
/>

@if (open) {
    <div
        class="dropdown"
        (mouseleave)="input.focus()"
    >
        @for (item of items(); track item) {
            <div
                #option
                tabindex="-1"
                class="option"
                (click)="onSelect(item)"
                (keydown.arrowDown.zoneless.prevent)="onArrowDown($index, $count)"
                (keydown.arrowUp.zoneless.prevent)="onArrowUp($index)"
                (mousemove.zoneless)="onMouseMove(option)"
            >
                {{ item }}
            </div>
        }
    </div>
}
